NodeRED Code.txt
[{"id":"ab4f789a.5deb08","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c1e1a8af.9fb108","type":"inject","z":"ab4f789a.5deb08","name":"","topic":"","payload":"","payloadType":"num","repeat":"5","crontab":"","once":true,"x":270,"y":820,"wires":[["3a441218.a87b5e"]]},{"id":"3a441218.a87b5e","type":"exec","z":"ab4f789a.5deb08","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","timer":"","name":"getCPUtemp","x":438.6031188964844,"y":820.4602945872716,"wires":[["869fcafa.ed7b68"],[],[]]},{"id":"869fcafa.ed7b68","type":"function","z":"ab4f789a.5deb08","name":"CPU Temp Function","func":"//msg.payload = {'d':{'temp': parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\"))}};\nmsg.payload = parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\"));\nreturn msg;","outputs":1,"noerr":0,"x":646.1904220581055,"y":807.7143229075841,"wires":[["6ec505a4.ce40fc"]]},{"id":"6ec505a4.ce40fc","type":"mqtt out","z":"ab4f789a.5deb08","name":"MQTT-CpuTemp","topic":"topic/cpuTemp","qos":"2","retain":"","broker":"633d204b.36836","x":862.1428756713867,"y":807.6192301341466,"wires":[]},{"id":"5f53cf6e.b3943","type":"comment","z":"ab4f789a.5deb08","name":"Check CPU's Temperature","info":"","x":307.0000305175781,"y":773.6192539760045,"wires":[]},{"id":"9fc0195d.0dd678","type":"comment","z":"ab4f789a.5deb08","name":"PID Control For CPU Temperature of Raspberry PI","info":"","x":383.21424102783203,"y":281.15494285311024,"wires":[]},{"id":"4fdddd1f.4cf8a4","type":"PID control","z":"ab4f789a.5deb08","name":"PID Controller","target":"50","kp":"1","ki":"0","kd":"0","x":462.2618827819824,"y":332.48830543245595,"wires":[["c864e031.2a33f","6b25b5d9.ce707c","1c12617f.8ab7ef","9b23fdc4.63ed3"]]},{"id":"c864e031.2a33f","type":"debug","z":"ab4f789a.5deb08","name":"","active":true,"tosidebar":true,"console":false,"complete":"payload","x":705.7975921630859,"y":465.238296713148,"wires":[]},{"id":"6b25b5d9.ce707c","type":"ui_chart","z":"ab4f789a.5deb08","name":"Chart: PID Output Data","group":"6605d70a.20c088","order":3,"width":0,"height":0,"label":"PID Output","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"PID Output","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":735.9880905151367,"y":386.5716432162694,"wires":[[]]},{"id":"1c12617f.8ab7ef","type":"ui_gauge","z":"ab4f789a.5deb08","name":"Gauge: PID Output","group":"6605d70a.20c088","order":4,"width":0,"height":0,"gtype":"wave","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#08f508","#e6e600","#ca3838"],"seg1":"","seg2":"","x":727.7975921630859,"y":426.238296713148,"wires":[]},{"id":"8a8b03fb.ef4e8","type":"debug","z":"ab4f789a.5deb08","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":493.5475845336914,"y":714.4882886069163,"wires":[]},{"id":"d7677a84.253f58","type":"ui_chart","z":"ab4f789a.5deb08","name":"Chart: CPU Temperature","group":"6605d70a.20c088","order":2,"width":0,"height":0,"label":"CPU Temperature [°C]","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"CPU Temperature","dot":false,"ymin":"28","ymax":"70","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":534.5475845336914,"y":636.4882886069163,"wires":[[]]},{"id":"9287a99f.457498","type":"ui_gauge","z":"ab4f789a.5deb08","name":"Guage: CPU Temperature","group":"6605d70a.20c088","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature [°C]","label":"°C","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#f90404"],"seg1":"","seg2":"","x":537.5475845336914,"y":677.4882886069163,"wires":[]},{"id":"a0649bcb.686f68","type":"mqtt in","z":"ab4f789a.5deb08","name":"MQTT-cpuTemp","topic":"topic/cpuTemp","qos":"2","broker":"633d204b.36836","x":260.5,"y":634.916636807578,"wires":[["d7677a84.253f58","9287a99f.457498","8a8b03fb.ef4e8"]]},{"id":"91a66f46.f8e22","type":"mqtt in","z":"ab4f789a.5deb08","name":"MQTT-cpuTemp","topic":"topic/cpuTemp","qos":"2","datatype":"auto","broker":"633d204b.36836","x":262.83333587646484,"y":333.5833200045995,"wires":[["4fdddd1f.4cf8a4"]]},{"id":"d6491dcf.4199e","type":"function","z":"ab4f789a.5deb08","name":"PLANT","func":"var PID = msg.payload; // PID Value\nvar cycle; // PWM duty cycle\nvar adjustment = 0; // duty cycle adjustment\n\nvar cycle = parseFloat(adjustment) + parseFloat(PID);\n\nif(cycle<0){\n    msg.payload=0;\n    return msg;\n}\n\nelse if(cycle>100){\n    msg.payload=100;\n    return msg;\n}\n\nelse\n{\n    msg.payload = parseFloat(cycle); \n   // 0 - 100\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":478.2738227844238,"y":520.7142995425634,"wires":[["ac9555d7.4773d8","caaee0ca.11de3"]]},{"id":"ac9555d7.4773d8","type":"debug","z":"ab4f789a.5deb08","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":701.6428833007812,"y":575.6786101886205,"wires":[]},{"id":"9b23fdc4.63ed3","type":"mqtt out","z":"ab4f789a.5deb08","name":"MQTT-pidController","topic":"topic/pidController","qos":"2","retain":"","broker":"633d204b.36836","x":725.0714285714284,"y":333.10714129039224,"wires":[]},{"id":"dae7a75.23e4b58","type":"mqtt in","z":"ab4f789a.5deb08","name":"MQTT-pidController","topic":"topic/pidController","qos":"2","broker":"633d204b.36836","x":282.2142857142858,"y":520.5357127189636,"wires":[["d6491dcf.4199e"]]},{"id":"8157be30.338df","type":"comment","z":"ab4f789a.5deb08","name":"PID - PLANT","info":"","x":253.6428571428571,"y":476.96428414753507,"wires":[]},{"id":"2f174f48.ae833","type":"comment","z":"ab4f789a.5deb08","name":"Chart & Gauge : CPU temperature","info":"","x":330.3571472167969,"y":591.6785739489965,"wires":[]},{"id":"caaee0ca.11de3","type":"rpi-gpio out","z":"ab4f789a.5deb08","name":"","pin":"12","set":false,"level":"0","freq":"","out":"pwm","x":687.5,"y":521.9642928668432,"wires":[]},{"id":"633d204b.36836","type":"mqtt-broker","z":"ab4f789a.5deb08","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"","willTopic":"","willQos":"0","willRetain":null,"willPayload":""},{"id":"6605d70a.20c088","type":"ui_group","z":"ab4f789a.5deb08","name":"PID Controller For CPU Temperature of Raspberry Pi","tab":"f054fdea.e7bb5","disp":true,"width":"9"},{"id":"f054fdea.e7bb5","type":"ui_tab","z":"ab4f789a.5deb08","name":"Home","icon":"dashboard"}]